body{
	padding-left: 65px;
	padding-right: 65px;
	font-family: 'opensans-bold', sans-serif;
}

#topbar {
   font-size: 16px;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 1px;
   position: fixed;
   left: 0;
   top: 0;
   background: #f3f3f3;
}

ul#nav {
   width: auto;
   text-align: center;
   height: 32px;
}
ul#nav li {
   position: relative;
   display: inline-block;
}

/* Links */
ul#nav li a {
   display: inline-block;
   padding: 8px 15px;
   text-decoration: none;
   color: black;
}

.container{
	margin: auto;
	max-width: 1000px;
	width: 100%;
	padding-bottom: 25px;
	overflow: auto;
}

#about{
	margin-top: 100px;
}

#profilepic img{
	padding: 8px;
	box-sizing: border-box;
	width: 35%;
	background: #f3f3f3;
	float: left;
}

#sidestuff{
	width: 61%;
	padding-left: 4%;
	float: left;
	margin-top: 5px;
}

#sidestuff article{
	font: 16px;
	letter-spacing: 1px;
	margin-left: -1px;
}

#sidestuff h1{
	font-size: 60px;
	letter-spacing: 2px;
	line-height: 60px;
	margin-left: -5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#social{
	text-align: left;
	margin-top: 20px;
	margin-left: -40px;
}

#social li{
	color: #fff;
	display: inline-block;
	font-size: 40px;
	margin-right:40px;
}

#social li a{ 
	color: black;
}

#classes{
 	margin-top: 50px;
}

#class_list{
	font: 16px;
	letter-spacing: 1px;
}

#classes h2{
	text-align: center;
	letter-spacing: 0.5px;
	font-size: 40px;
}

#searchbox {

}

.hit {
	overflow: auto;
}

.hit-content h2, .hit-content p{
	display: inline;
	float: left;
	
}
.hit-content p{
	padding-left: 10px;
	padding-top: 11px;
}